@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@using PRN211_Asssignment.Models
@model List<Attendance>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>JSP Page</title>
    <link rel="stylesheet" type="text/css" href="~/css/TakeAttendance.css">
</head>
<body>
    <div>
        <header>
            <img src="~/img/fpt-university.jpg">
            <img src="~/img/download-application-button-apple-app-store-free-vector.jpg">
            <img src="~/img/download.jpg">
            <p>FAP mobile app (myFAP) is ready at</p>
        </header>
        <div class="header-bar">
            <a class="Home" asp-controller="Instructor" asp-action="Home">Home</a>
            <p>Take Attendance</p>
            <div class="dropdown">
                <img id="dropbtn" src="~/img/account.png">
                <div class="dropdown-content">
                    <a>@ViewBag.InstructorRollNumber</a>
                    <a>@ViewBag.InstructorName</a>
                    <a asp-controller="Authentication" asp-action="LogOut">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <h2>View Attendance</h2>
        <table border="1px">
            <tr>
                <th>Seq</th>
                <th>Student Id</th>
                <th>Name</th>
                <th>
                    Status
                </th>
                <th>Description</th>
            </tr>
            @{
                int j = 0;
            }
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    @{
                        j++;
                    }
                    <td>@j</td>
                    <td>@Model[i].Student.StudentRollNumber</td>
                    <td>@Model[i].Student.LastName @Model[i].Student.FirstName</td>
                    <td>
                        @if (Model[i].Status == false)
                        {
                        <span style="color:red">Absent</span>
                        }
                        else if (Model[i].Status == true)
                        {
                            <span style="color:green">Present</span>
                        }
                        else{
                            <span style="color:red">Not yet</span>
                        }                                                      

                    </td>
                    <td>@Model[i].Description</td>
                </tr>
            }
        </table>
    <div class="rooter">
        <p>
            Mọi góp ý, thắc mắc xin liên hệ: Phòng dịch vụ sinh viên: Email: <span>dichvusinhvien@fe.edu.vn.</span> Điện
            thoại: <span class="PhoneNumber">(024)7308.13.13</span>
        </p>
        <p> © Powered by <span>University</span> | <span>CMS</span> | <span>library</span> | <span>books24x7</span></p>
    </div>
</body>