@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@using PRN211_Asssignment.Models

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>JSP Page</title>
    <link rel="stylesheet" href="~/css/WeeklyTimetable.css">
</head>
<body>
    <div>
        <header>
            <img src="~/img/fpt-university.jpg">
            <img src="~/img/download-application-button-apple-app-store-free-vector.jpg">
            <img src="~/img/download.jpg">
            <p>FAP mobile app (myFAP) is ready at</p>
        </header>
        <div class="header-bar">
            <a class="Home" asp-controller="Student" asp-action="Home">Home</a>
            <p>View Schedule</p>
            <div class="dropdown">
                <img id="dropbtn" src="~/img/account.png">
                <div class="dropdown-content">
                    <a>@ViewBag.StudentName</a>
                    <a>@ViewBag.StudentRollNumber</a>
                    <a>@ViewBag.Campus</a>
                    <a asp-controller="Authentication" asp-action="LogOut">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <h1>Report</h1>
    <form id="fr" asp-controller="Student" asp-action="StudentAttendanceReport">
        <select style="margin-left:110px; margin-bottom:5px;" name="selectedCourse" onchange="change()">
            <option value="0">Select Course</option>
            @foreach (Course c in ViewBag.courses)
            {              
                @if (c.CourseId.Equals(ViewBag.selectedCourse))
                {
                    <option selected value="@c.CourseId">
                        @c.Code
                    </option>
                }
                else
                {
                    <option value="@c.CourseId">@c.Code</option>
                }
            }
        </select>
    </form>
    <script>
        function change() {
            document.getElementById("fr").submit();
        }
    </script>
    @if (ViewBag.sessions != null)
    {
        <table>
            <tr>
                <th>
                    No
                </th>
                <th>
                    Date
                </th>
                <th>
                    Slot
                </th>
                <th>
                    Room
                </th>
                <th>
                    Instructor
                </th>
                <th>
                    Group Name
                </th>
                <th>
                    Attendance Status
                </th>
                <th>
                    Instructor's Comment
                </th>

            </tr>
            @{
                int i = 0;
            }
           @foreach(Session ses in ViewBag.sessions){
                <tr>
                    @{i++;}
                    <td>
                        @i
                    </td>
                    <td>
                        @{
                            string date = ses.Date.ToString("dd/MM/yyyy");
                        }
                        @date
                    </td>
                    <td>
                        @ses.TimeSlot.TimeSlotId
                    </td>
                    <td>
                        @ses.Room.Rname
                    </td>
                    <td>
                        @ses.Group.Instructor.InstructorName
                    </td>
                    <td>
                        @ses.Group.Gname
                    </td>

                        @foreach(Attendance a in ses.Attendances){
                            <td>
                                @if(a.Status == true)
                                {
                                    <span style="color:green">Attended</span>
                                }else if(a.Status == false)
                                {
                                    <span style="color:red">Absent</span>
                                }
                                else
                                {
                                    <span style="color:black">Not yet</span>
                                }
                            </td>
                            <td>
                                @a.Description
                            </td>
                        }                  
                </tr>
            }


        </table>
    }
    <div class="rooter">
        <p>
            Mọi góp ý, thắc mắc xin liên hệ: Phòng dịch vụ sinh viên: Email: <span>dichvusinhvien@fe.edu.vn.</span> Điện
            thoại: <span class="PhoneNumber">(024)7308.13.13</span>
        </p>
        <p> © Powered by <span>University</span> | <span>CMS</span> | <span>library</span> | <span>books24x7</span></p>
    </div>

</body>
